*.dll
*.dll
*.dll
*.dll
*.dll
*.dll
*.dll
*.zip
.tools/jdk-25/jdk-25.0.2/microsoft-jdk-25.0.2-windows-x64.zip
*.zip
*.zip
*.zip
.tools/jdk-25/jdk-25.0.2/microsoft-jdk-25.0.2-windows-x64.zip
.tools/
.tools/maven-3.9.15/maven-3.9.15/lib/org.eclipse.sisu.plexus-1.0.0.jar
.tools/maven-3.9.15/maven-3.9.15/lib/org.eclipse.sisu.inject.license
.tools/maven-3.9.15/maven-3.9.15/lib/org.eclipse.sisu.inject-1.0.0.jar
.tools/maven-3.9.15/maven-3.9.15/lib/maven-slf4j-provider-3.9.15.jar
.tools/maven-3.9.15/maven-3.9.15/lib/maven-shared-utils-3.4.2.jar
.tools/maven-3.9.15/maven-3.9.15/lib/maven-settings-builder-3.9.15.jar
.tools/maven-3.9.15/maven-3.9.15/lib/maven-resolver-api-1.9.27.jar
